IRTM/pseudo.py
.DS_Store
.idea
.mp4
DL/ex8/cnn_30fps/1-intro.mp4
DL/ex8/cnn_30fps/2_recap_cnn.mp4
DL/ex8/cnn_30fps/3-simple-cnn.mp4
DL/ex8/cnn_30fps/4-multi-channel-cnn.mp4
DL/ex8/cnn_30fps/5-0-intro.mp4
DL/ex8/cnn_30fps/5-1-combine-flatten.mp4
DL/ex8/cnn_30fps/5-2-combine-connect.mp4
DL/ex8/cnn_30fps/6-1-sequential.mp4
DL/ex8/cnn_30fps/7-1-optimizer-theory.mp4
DL/ex8/cnn_30fps/7-2-optimizer-adam.mp4
DL/ex8/cnn_30fps/8-alexnet.mp4
DL/ex9/lstm_30fps/1-intro.mp4
DL/ex9/lstm_30fps/2-rnn-lstm-torch-api.mp4
DL/ex9/lstm_30fps/3-1-rnn-manual.mp4
DL/ex9/lstm_30fps/3-2-lstm-manual.mp4
DL/ex9/lstm_30fps/4-scheduler-training-pipeline.mp4
basecamp/image_class/clouds_test/
basecamp/image_class/clouds_train/
basecamp/electricity/electricity_seq_data/LD2011_2014.txt
